{% load static %}

<html>
    <head>  
        <link rel="stylesheet" href= "{% static 'ppw/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/ppw">Beranda</a>
            <a href="do">Keahlian</a>
            <a href="contact">Kontak</a>
            <a href="event">Tambah Kegiatan</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
